<header>
    <h1>
        کتابخانه مرکزی همدان
    </h1>
    <div class="menu">
        <div class="a-divs" ><a routerLink="home">
                خانه
            </a></div>
        <div class="a-divs" ><a routerLink="about">
                درباره
            </a></div>
        <div class="a-divs" ><a routerLink="books">
                کتابخانه
            </a></div>
        <div class="a-divs" ><a routerLink="/login">
                ورود
            </a></div>
    </div>
</header>
<div class="content">
    <router-outlet />
</div>
<footer>
    حق کپی محفوظ است
</footer>