<header>
    <h1>
        کتابخانه مرکزی همدان
    </h1>
    <div class="menu">
        <div class="a-divs" routerLink="home"><a href="#">
                خانه
            </a></div>
        <div class="a-divs" routerLink="about"><a href="#">
                درباره
            </a></div>
        <div class="a-divs" routerLink="books"><a href="#">
                کتابخانه
            </a></div>
        <div class="a-divs" routerLink="/login"><a href="#">
                ورود
            </a></div>
    </div>
</header>
<div class="content">
    <router-outlet />
</div>
<footer>
    حق کپی محفوظ است
</footer>